body
  background-color: #BBE3F6

header
  margin: 20px 0px 0px 20px

a.header_title
  color: #000
  font-size: xx-large
  text-decoration: none

main
  width: 800px
  float: left
  margin: 20px

  #main_titleframe
    background-color: #FFF
    font-size: x-large
    padding-left: 10px
    #main_title
      color: #000
      text-decoration: none

  #main_tagframe
    background-color: #FFF
    height: 30px
    padding-top: 5px
    padding-left: 10px
    #main_tag
      background-color: #A9A9A9
      color: #000
      font-size: medium
      height: 25px
      margin-right: 10px
      text-decoration: none

  #main_body
    background-color: #FFF
    font-size: large
    padding: 20px 10px 20px

  #main_updatedate
    background-color: #FFF
    font-size: small
    text-align: right
    margin-bottom: 20px
    padding: 20px 10px 0px

  #main_pagerframe
    margin-top: 20px

    #main_pager
      background-color: #FFF
      color: #000
      font-size: medium
      margin-left: 10px
      padding: 10px
      text-decoration: none
  #main_previous
    color: #000
    font-size: medium
    float: left
  #main_next
    color: #000
    font-size: medium
    float: right

.side
  width: 400px
  float: left

#side_linktitle
  font-size: small
  font-weight: 800

#side_linklist
  list-style-type: none

#side_link
  color: #000
  font-size: small
  text-decoration: none
